.bg-img{
    background-image: url(./bg.jpg);
    background-size: contain;
    width: 1910px;
    height: 950px;
}

.mario{
    position: absolute;
    background-image: url(./mario.png);
    background-repeat: no-repeat;
    height: 256px;
    width: 256px;
    top: 55%;
    left: 44%;
}

.running{
    background-image: url(./mario_running.gif);
    top: 50%;
    height: 304px;
    width: 256px;
}


.block{
    position: absolute;
    width: 10%;
    top: 11%;
    left: 60%;
}