@font-face{
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);

}
@font-face{
    font-family: 'Roboto-Bold';
    src: url(./fonts/Roboto-Bold.ttf);
}
@font-face{
    font-family: 'Roboto-Thin';
    src: url(./fonts/Roboto-Thin.ttf);
}

@font-face{
    font-family: 'Roboto-Light';
    src: url(./fonts/Roboto-Light.ttf);
}

.clear::before,
.clear::after{
    display: table;
    content: "";
}
.clear::after{
    clear: both;
}

body{
    font-family: 'Roboto';
    margin: 0;
}

h1, h2, h3, h5 {
    margin: 0;
}

a {
    text-decoration: none;
}

@media screen and (max-width:767px){
    header .logo{
        text-align: center;
    }
    header .logo h1{
        margin: 30px 0 20px;
        font-family: 'Roboto-Bold';
        color: rgb(107, 107, 107);
       
    }
    header .logo .logo-half{
        color: darkorange;
        border: solid 4px rgb(107, 107, 107);
        border-right: 0;
        padding-left: 10px;
    }
    header .mobile-menu{
        width: 90%;
        margin: 0 auto 20px;
        
    }
    header .mobile-menu ul{
        padding: 8px;
        margin: 0;
        text-align:center;
        background-color: rgb(151, 199, 253);
        
    }
    header .mobile-menu ul li{
        padding: 7px 0;
        box-sizing: border-box;
        list-style-type: none;   
    }
    header .mobile-menu ul li a{
        color: white;
        font-family: 'Roboto-Bold';
        font-size: 14px;

    }
    .main-banner {
        width: 100%;
        background-image: url("./images/banner3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: white;
        font-family: 'Roboto-Thin';
        font-size: 14px;
        letter-spacing: 2px;
        text-align: center;
        padding: 62px 40px;
        box-sizing: border-box;
    }

    .main-banner h1 {
        margin-bottom: 30px;
    }

    .main-banner .banner-button {
        padding:  7px 20px 8px;
        background-color: rgb(50, 94, 199);
        border-radius: 20px;
    }

    .main-banner .banner-button a {
        color: white;
        font-size: 13px;
        letter-spacing: 1.5px;
        line-height: 1em;
    }
    
    .title-section {
        position: relative;
        text-align: center;
        margin-bottom: 20px;
    }

    .title-section h1{
        margin: 50px 0 10px;;
        font-family: 'Roboto-Light';
    }

    .title-section .box {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid #000;
        transform: rotate(45deg);
    }

    .title-section .outer-box {
        position: relative;
    }

    .title-section .outer-box:before,
    .title-section .outer-box:after {
        position: absolute;
        content: "";
        width: 50px;
        height: 2px;
        background-color: #000;
    }

    .title-section .outer-box:before {
        top: 2px;
        left: 33px;
    }

    .title-section .outer-box:after {
        top: 2px;
        right: 33px;
    }

    .intro-section {
        width: 85%;
        margin: 0 auto;
    }

    .intro-section h2{
        color: rgb(109, 154, 206);
        font-family: 'Roboto-Light';
        margin: 20px 0;
    }
    .intro-section q{
        line-height: 1.5em;
        font-size: 12px;
        letter-spacing: -3;
        font-weight: 500;
    }
    .intro-section .list-qualities{
        font-size: 13px;
        margin: 20px 0 30px;
        padding-left: 20px;
        color: rgb(102, 102, 102);
        list-style-image: url('./images/arrow_bullet.png');
    }
    .intro-section .list-qualities li{
        line-height: 2em; 
    }

    .intro-section .building {
        width: 100%;
    }
    
    .reviews {
        width: 85%;
        margin: 0 auto;
    }

    .reviews article {
        padding: 20px 10px;
        box-sizing: border-box;
        background-color:  rgb(151, 199, 253);
        margin-bottom: 15px;
    }

    .reviews article h5 {
        padding: 13px 0;
    }

    .reviews article .users {
        position: relative;
        float: left;
        width: 50px;
        border-radius: 50%;
        border: 1px solid #fff;
        padding: 3px;
        margin-right: 10px;
    }
    .reviews article .stars{
        width: 60px;      
    }

    .reviews article p {
        color: #fff;
        font-size: 12px;
        line-height: 1.8em;
        margin: 0;
        text-align: left;
        word-spacing: 5px;
    }

    .in-touch {
        width: 100%;
    }

    .in-touch .color-box {
        float: left;
        width: 50%;
        height: 180px;
        margin: 0 auto;
        padding: 30px 20px;
        box-sizing: border-box; 
        font-size: 12px;
        font-family: 'Roboto-Light';
        color: #fff;
        text-align: center;
    }

    .in-touch .color-box h2 {
        margin-bottom: 30px;
    }

    .in-touch .color-box:first-child {
        background-color: rgb(88, 233, 155);
        /* color: #fff; */
    }

    .in-touch .color-box:nth-child(2) {
        background-color: rgb(245, 61, 132);
    }

    .in-touch .color-box:nth-child(2) img {
        margin-right: 10px;
    }

    .in-touch .color-box:nth-child(3) {
        background-color: rgb(61, 104, 245);
        line-height: 2em;
    }

    .in-touch .color-box:last-child {
        background-color: rgb(151, 199, 253);
    }

    .in-touch .color-box:first-child a {
        color: #fff;
    }

    .in-touch .color-box .social-icons {
        margin: 0 auto;
    }

    .in-touch .color-box img.icons {
        width:20px;
        float: left;
    }

    .in-touch .color-box img.house {
        width: 100%;
    }

    .form {
        width: 90%;
        margin: 0 auto;
    }

    .form input:not(.submitic),
    .form textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 15px;
        box-sizing: border-box;
        border: 1px solid #000;
        font-family: 'Roboto';
        font-size: 12px;
    }

    .form input:not(.submitic) {
        height: 30px;
    }

    .form textarea {
        height: 150px;
    }
    input.submitic {
        background-color: orange;
        border: 0;
        padding: 10px 25px;
        color: #fff;
        font-size: 14px;
        margin-bottom: 40px;
    }
    footer{
        width: 100%;
        padding: 50px;
        box-sizing: border-box;
        background-color: #333;
        color: white;
        font-size: 10px;
        text-align: center;
    }
    footer ul{
        margin: 0%;
        padding: 0%;
    }
    footer ul li{
        list-style-type: none;
        float: left;
        padding: 0 8px;
    }
    
}