$h1-bg-color:#2962ff;
$h2-bg-color:#2979ff;
$title-color:white;
$table-color:#333;
$table-bg-color:white;
$container-width:960px;
$table-width:100%;
$td-fc-width:300px;
$circle:50%;
$round-border: solid 8px crimson;
$txt-shadow: 10px 10px 5px black;
$box-shadow: 10px 10px 5px black;