/* .second-list {
    background-color: rgb(253, 155, 138);
}
.new-class{
    background-color: rgb(191, 211, 235);
}
.third-class{
    background-color: blueviolet;
    text-transform: uppercase;
    color: white; 
} */

/* Traversing */

.active{
    background-color: orange;
}