#naslov {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#first{
font-family: Arial, Helvetica, sans-serif
}

#second{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#third {
    font-family: Arial, Helvetica, sans-serif;
}